#main-wrapper{
	height: 500px;
	text-align: center;
}

#main-wrapper p{
	font-size: 36px;
}

#main-wrapper .gifbox{
	width: 400px;
	height: 200px;
	margin: 50px auto;
	background: url(../img/design.gif) no-repeat;
	background-size: 100% 100%;
	
}
