@charset "utf-8";
/* reset style */
*{ margin: 0;padding: 0;}

body { background: #FFF; color: #000; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif;}
em, b, i { font-style:normal;}
li { list-style:none;}
img { border:none;}
a{ text-decoration:none; color:#244666;}
a:hover { text-decoration:underline; color:#f50;}
table { border-spacing:0; border-collapse:collapse;}

/* public style */
.hide {display: none;}
.show {display: block;}
.flt {float:left;}
.frt {float:right;}
.clearfix { *zoom: 1;} 
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}

.clearfix:after { clear: both;}
.positionr{position: relative;}
.positiona{position: absolute;} 
.br-line{
	border-right: 1px solid #BEBCBC;
	box-shadow: 5px 0px 0px #EEEEEE;/*模糊半径为0 其他边不显示阴影*/
	
	
}
#wrapper{
	min-width: 1200px;
	height: auto;
	margin: 0 auto;
}
#header-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;	
}
#header-wrapper header{
	width: 100%;
	height: 100px;
	background-size: 100% 130%;
	opacity: 0.25;
	margin: 0 auto; 
	background: -webkit-linear-gradient(gray, white); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(gray, white); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(gray, white); /* Firefox 3.6 - 15 */
    background: linear-gradient(gray, white); /* 标准的语法 */
 
}

h1{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	font-family: "Microsoft YaHei";
	font-size:4em;
	text-align: center;
	
	
}
#header-wrapper .navbox{
	width: 100%;
	height: 35px;
	margin: 0 auto;
	
	text-align: center;
	background: #FFFFFF;
	opacity: 0.9;
	z-index: 99;
	
}

#header-wrapper .navbox ul{
	width: 650px;
	height: 30px;
	margin: 0 auto;
	
}
#header-wrapper .navbox ul li{
	display: inline-block;
	float: left;
	width: 100px;
	margin-right: 30px;
	line-height: 30px;
	
	
	
}
#header-wrapper .navbox ul li a{
	font-size: 18px;
	color: #858484;
}
#header-wrapper .navbox ul li:hover{
	background:#eee ;
	border-radius: 5px;
	
}
#header-wrapper .navbox ul li a:hover{
	color: #000000;
	text-decoration: none;
	
}
#header-wrapper .navbox ul li.current{
	background: #d52349;
	border-radius: 5px;
	
}
#header-wrapper .navbox ul li.current a{
	color: #fff;
}

#header-wrapper .navbox ul li.subnav {
	position: relative;
}
#header-wrapper .navbox ul li.subnav .subnav-box{
	display: none;
	position: absolute;
	top:35px;
	left: 20px;
	width: 150px;
	height: 130px;
	background: #000000;
	border-radius: 5px;
	opacity: 0.8;
	z-index: 9999;
	text-align: center;
}
#header-wrapper .navbox ul li.subnav .subnav-box li{
	width: 100%;
	margin: 5px 0;
}
#header-wrapper .navbox ul li.subnav .subnav-box li a{
	color: #858484;
}
#header-wrapper .navbox ul li.subnav .subnav-box li:hover{
	background: #000000;
	
}
#header-wrapper .navbox ul li.subnav .subnav-box li a:hover{
	color: #FFFFFF;
	
}
#header-wrapper .navbox ul li.subnav:hover .subnav-box{
	display: block;
	z-index: 999;
}


.sanjiao{
	position: absolute;
	top:-9px;
	left: 10px;
	width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #000000;/*透明 透明  灰*/
    
}
.banner{
	
	width: 1200px;
	height: 450px;
	background: url(../img/banner.jpg) no-repeat;
	
	margin: 20px auto;	
	background-position: 0 -10px;
	background-size:100% 115%;
}

section.intro{
	
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	
	
}
section.intro .introa{
	position: relative;
	display: inline-block;
	float: left;
	width: 33%;
	height: 250px;
	
	
	/*background: #244666;*/
	
}
section.intro .introa .introaIcon{
	position: relative;
	width: 110px;
	height: 150px;
	
	margin: 0 auto;
	overflow: hidden;
	
}
section.intro .introa .boxtext{
	width:260px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
}
section.intro .introa .introaIcon .top{
	
	width: 110px;
	height: 100px;
	margin: 0 auto;
	background: #D52349;
	border-radius: 5px 5px 0 0;
	text-align: center;
}
section.intro .introa .introaIcon .laptop{
	background: #252122;
}
section.intro .introa .introaIcon .mobile{
	background: #827a7c;
}
section.intro .introa .introaIcon .top i{
	padding-top: 25PX;
	color: #FFFFFF;
}

section.intro .introa .introaIcon .bottom{
	position: absolute;
	top:99px;
	left: 0;
	width: 0;
	height: 0;
	border-top:30px solid #D52349;
	border-right:56px solid transparent;
	border-left:56px solid transparent;
	
}

section.intro .introa .introaIcon .laptop-bt{
	border-top:30px solid #252122;
}
section.intro .introa .introaIcon .mobile-bt{
	border-top:30px solid #827a7c;
}
section.intro .introa .introaBox .top{
	width: 130px;
	height: 90px;
	border-radius: 8px 8px 0 0;
	background: #D52349;
	text-align: center;
	vertical-align: middle;
}
section.intro .introa .introaBox .laptop{
	background:#252122 ;
}
section.intro .introa .introaBox .mobile{
	background:#827a7c ;
}
section.intro .introa .introaBox .bottom{
	
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: solid 2em #d52349;
    border-left: solid 4.1em transparent;
    border-right: solid 4.1em transparent;
}
section.intro .introa .introaBox .lap{
	 border-top: solid 2em #252122;
    border-left: solid 4.1em transparent;
    border-right: solid 4.1em transparent;
}
section.intro .introa .introaBox .mob{
	 border-top: solid 2em #827a7c;
    border-left: solid 4.1em transparent;
    border-right: solid 4.1em transparent;
}
section.intro .introb{
	display: inline-block;
	float: left;
	width: 33.3%;
	height: 300px;
	background: #D52349;
}
section.intro .introc{
	display: inline-block;
	float: left;
	width: 33.3%;
	height: 300px;
	background: #FF5500;
}
.actions{
	width: 1200px;
	height: 80px;
	margin: 10px auto;
	
	
}
.actions .actionsbox{
	width: 600px;
	height: 80px;
	margin: 0 auto;
	color: #fff;
	font-size: 1.5em;
	line-height: 58px;
	text-align: center;
}
.actions .actionsbox .actionsLeft{
	display: inline-block;
	float: left;
	/*float: left;*/
	/*margin-right: 20px;*/
	width: 264px;
	height: 58px;
	border-radius: 5px;
	background: #d52349;
	
	
}
.actions .actionsRight{
	display: inline-block;
	/*float: left;*/
	float: right;
	width: 264px;
	height: 58px;
	border-radius: 5px;
	background: #252122;
	
}
#main-wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background: url(../img/bg02.png);
	border-top: 1px solid #BEBCBC;
}
.major{
	position: relative;
	width: 1200px;
	margin:50px auto;
	text-align: center;
	border-top: 1px solid #ccc;
	top:2em;
}
.major h2{
	position: relative;
	background: #eee;
	
	top:-0.65em;
	display: inline;
	margin: 0;
	padding: 0 2em 0 2em;
	
}

#main-wrapper section{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}
#main-wrapper .container{
	display: inline-block;
	width: 31%;
	height: 500px;
	background: #fff;
	margin: 0 12px;
	margin-bottom: 30px;
	overflow: hidden;
}

#main-wrapper .container .image{
	width: 100%;
	height: 265px;
	background: url(../img/dog.jpg);
	background-size: 100% 100%;
	transition: 1s all;
	
}
#main-wrapper .container .image:hover{
	-moz-transform:scale(1.04);
    -webkit-transform:scale(1.04);
    -o-transform:scale(1.04);
    /*-ms-transform: scale(1.04);*/
    transform: scale(1.04);
    transition: 1s all;

}
#main-wrapper .container .imageFlow:hover{
	-moz-transform:scale(1.04);
    -webkit-transform:scale(1.04);
    -o-transform:scale(1.04);
   /* -ms-transform: scale(1.04);*/
    transform: scale(1.04);
    transition: 1s all;

}
#main-wrapper .container .imagetra:hover{
	-moz-transform:scale(1.04);
    -webkit-transform:scale(1.04);
    -o-transform:scale(1.04);
    transform: scale(1.04);
    transition: 1s all;

}
#main-wrapper .container .imageFlow{
	width: 100%;
	height: 265px;
	background: url(../img/huahua.jpg) no-repeat;
	background-size: 100% 100%;
	transition: 1s all;
}
#main-wrapper .container .imagetra{
	width: 100%;
	height: 265px;
	background: url(../img/tra.jpg) no-repeat;
	background-size: 100% 130%;
	transition: 1s all;
}
#main-wrapper .container .textbox{
	position: relative;
	padding: 20px 20px;
	
}
#main-wrapper .container .textbox h3{
	font-size: 20px;
	margin-bottom: 10px;
}
#main-wrapper .container .textbox span{
	display: inline-block;
	font-size: 16px;
	word-break: break-word;
	line-height:25px;
	/*line-height: 5px;*/
}
#main-wrapper .container .textbox button{
	position: absolute;
	top:160px;
	left: 20px;
	width: 112px;
	height: 40px;
	background: #000000;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
}
#main-wrapper section.part{
	width: 1200px;
	height: 600px;
	margin: 0px auto;
	/*margin-bottom: 50px;*/
}
#main-wrapper section .contant{
	position: relative;
	display: inline-block;
	float: left;
	width: 285px;
	height: 400px;
	border:1px solid #BEBCBC;
	margin-bottom: 50px;
	margin-right: 10px;
		
}
#main-wrapper section .contant .contantimg{
	width: 265px;
	height: 380px;
	margin: 10px 10px;
	border:1px solid #BEBCBC;
	overflow: hidden;
	box-shadow: 1px 1px 3px #827A7C;
	text-align: center;
}
#main-wrapper section .contant .contantimg img{
	width: 285px;
	height: 380px;
	background-size:120% 100%;
	transition: all 1s;
	
}
#main-wrapper section .contant .contantimg img:hover{
	margin-left: -20px;
	transition: all 1s;
}
#main-wrapper section .contant .contantext{
	width: 265px;
	height: 50px;
	background: #000000;
	position: absolute;
	bottom:9px;
	left: 11px;
	opacity: 0.2;
}
#main-wrapper section .contant  span{
	position: absolute;
	bottom:20px;
	left: 99px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 600;
	
}
#main-wrapper section .contant .textbox{
	position: relative;
	padding: 20px 20px;
}
#main-wrapper section .contant .textbox h3{
	font-size: 20px;
	margin-bottom: 20px;
}
#main-wrapper section .contant .textbox span{
	display: inline-block;
	font-size: 16px;
	word-break: break-word;
	line-height:25px;
	/*line-height: 5px;*/
}
#main-wrapper section .contant .textbox button{
	position: absolute;
	top:250px;
	left: 20px;
	width: 155px;
	height: 42px;
	background:#d52349 ;
	border: none;
	border-radius: 5px;
	
	font-size: 18px;
	color: #FFFFFF;
}
#footer-wrapper{
	
	width: 100%;
	height: 250px;
	
	
	background: #252122;
	margin: 0 auto;
	
	
}
#footer-wrapper .footerbox{
	
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	
	padding: 20px 0px;
	color: #858484;
}

#footer-wrapper div.aboutVlin{
	display: inline-block;
	float: left;
	width: 28%;
	height: 200px;
	padding-right: 40px;
	margin-right: 24px;
	border-right: 1px solid #858484;
}
#footer-wrapper div.aboutVlin h4{
	font-size: 18px;
	margin-bottom: 20px;
}
#footer-wrapper div.aboutVlin span{
	font-size: 14px;
	line-height: 25px;
}
#footer-wrapper div.friend{
	display: inline-block;
	float: left;
	width: 32%;
	height: 200px;
	padding-right: 40px;
	margin-right: 24px;
	text-align: center;
	line-height: 100px;
	border-right: 1px solid #858484;
}
#footer-wrapper div.friend span{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #244666;
	box-shadow: 3px 3px 3px #858484;
	margin-left: 10px;
}
#footer-wrapper div.friend span img{
	width: 100%;
	height: 100%;
}
#footer-wrapper div.wechat{
	display: inline-block;
	width: 29%;
	height: 250px;
	
	text-align: center;
	
}
#footer-wrapper div.wechat img{
	margin-top: 30px;
	width: 150px;
	height: 150px;
}

.service{
	position: fixed;
	right: 0;
	top:45%;
	width: 55px;
	height: 168px;
	background: #000;
}	
.service div{
	width: 55px;
	height: 33%;
	text-align: center;	
}
.service div:hover{
	background: #252122;
}
.service .qq .qqicom{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/qq.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 8px;
}
.service .wechat{
	position: relative;
}
.service .wechat .wechaticon{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/wc.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 8px;
}
.service .wechat:hover .wechatzgl{
	filter:alpha(opacity=100);   
    -moz-opacity:1;   
    -khtml-opacity: 1;   
    opacity: 1;   	
}
.service .wechat .wechatzgl{
	opacity: 0;
	position: absolute;
	top:0;
	right: 60px;
	width: 140px;
	height: 140px;
	background: url(../img/wechatZGL.jpg);
	background-size: 100% 100%;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	
}
.service .top .topicon{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../img/top.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 8px;
}

